:root {
    /* ======= BASE COLORS ======= */
    --color-base-general-100: #131523;
    --color-base-general-90: #333752;
    --color-base-general-80: #5a607f;
    --color-base-general-70: #7e84a3;
    --color-base-general-60: #a1a7c4;
    --color-base-general-50: #d7dbec;
    --color-base-general-40: #e6e9f4;
    --color-base-general-30: #f5f6fa;
    --color-base-primary-100:#1E5EFF;
    --color-base-primary-90: #336DFF;
    --color-base-primary-80: #4F81FF;
    --color-base-primary-70: #608DFF;
    --color-base-primary-60: #89ABFF;
    --color-base-primary-50: #B6CBFF;
    --color-base-primary-40: #D9E4FF;
    --color-base-primary-30: #ECF2FF;
    --color-base-secondary-100:#6e0bd4;
    --color-base-secondary-90: #8125df;
    --color-base-secondary-80: #9645e9;
    --color-base-secondary-70: #a75ef1;
    --color-base-secondary-60: #b97ff3;
    --color-base-secondary-50: #d8b1ff;
    --color-base-secondary-40: #e9d3ff;
    --color-base-secondary-30: #f4e9fe;
    --color-base-red-100:#F0142F;
    --color-base-red-90: #F12B43;
    --color-base-red-80: #F34359;
    --color-base-red-70: #F45A6D;
    --color-base-red-60: #F8919D;
    --color-base-red-50: #FAB3BC;
    --color-base-red-40: #FCD5D9;
    --color-base-red-30: #FDE7EA;
    --color-base-green-100:#06A561;
    --color-base-green-90: #1FD286;
    --color-base-green-80: #25E191;
    --color-base-green-70: #48E9A5;
    --color-base-green-60: #74EFB9;
    --color-base-green-50: #95F6CC;
    --color-base-green-40: #C4F8E2;
    --color-base-green-30: #DAF9EC;
    --color-base-yellow-100:#F99600;
    --color-base-yellow-90: #FFC700;
    --color-base-yellow-80: #FFD613;
    --color-base-yellow-70: #FFE45F;
    --color-base-yellow-60: #FFE582;
    --color-base-yellow-50: #FFECA3;
    --color-base-yellow-40: #FFF4C9;
    --color-base-yellow-30: #FFF9E1;
}